<section class=>

<div class="card float-md-left" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Secretario Juridico de la Dra. Analia Segretin</h5>
    <p class="card-text">Haciendo tramites en distintas instituciones, atendiendo al publico, realizando escritos y todas demas cosas que necesitaba la Dra.</p>
  
        <ul class="list-group list-group-flush">
          <li class="list-group-item">De marzo de 2017 hasta noviembre del mismo año</li>
          <li class="list-group-item"></li>
          <li class="list-group-item">A third item</li>
        </ul>
</div>     


</div>
  <div class="card float-md-right" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Secretario Juridico del Dr. Gerardo Salaberry</h5>
      <p class="card-text"></p>
    </div>
  </div> 

</section>
